<div class='home'>
<span class='row'>
<h1>
  <span class='col-med-5'> <%= @current_user.username.upcase %>'S HUNGRY.</span> 
  <span class="col-xs-3"> <%= submit_tag "Search by name", :name => nil, class: 'form-control' %> </span></h1>
</span>


  <div class="side_bar">This is where links to the individual feeds will go</div>

  <div id="posts">This is where the posts will go, sorted by date. (FINGERS CROSSED.)</div>


</div>