  <div class='intro_back'>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <%= flash[:notice] %>
                        <h1>We're not just talkin'<br> turkey!</h1>
                        <p> Log in with ... </p>
                        <ul class="list-inline intro-social-buttons">
                            <li><%= link_to image_tag('twitter.png', height: '50'), '/auth/twitter' %>
                        </a>
                            </li>
                            <li><%= link_to image_tag('facebook.png', height: '50'), '/auth/facebook', class: "btn btn-sm" %>
                            </li>
                            <li><%= link_to image_tag('github.png', height: '50'), '/auth/github', class: "btn btn-sm" %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
  </div>
