  <div class='intro_back'>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>We're not just talkin'<br> turkey!</h1>
                        <p> Log in with ... </p>
                        <ul class="list-inline intro-social-buttons">
                            <li><%= link_to image_tag('twitter.png'), 'twitter.com', class: "btn btn-sm" %>
                        </a>
                            </li>
                            <li><%= link_to image_tag('facebook.png'), 'facebook.com', class: "btn btn-sm" %>
                            </li>
                            <li><%= link_to image_tag('linkedin.png'), 'linkedin.com', class: "btn btn-xs" %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
  </div>
