/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .navbar-brand img {
  text-align: left;
 }

.tumblr {
  width: 700px;
  background-color: #6B99C7;
  padding: 50px 20px 20px 20px;
  background-image: url('tumblrlogo.png');
  background-repeat: no-repeat;
  background-position: 0 -20px;
}

.twitterfeed {
  width: 300px;
  background-color: #53ADD4;
  padding: 50px 20px;
  margin-left: 130px;
  background-image: url('twitterlogo.png');
  background-repeat: no-repeat;
}

/*.twitterfeed img {

}
*/
.feeder {
  width: 700px;
  background-color: #AB99E0;
  padding: 50px 20px;
  background-image: url('rss.png');
  background-repeat: no-repeat;
  background-position: -22px -55px;
}

.feeder a {
  color: #093969;
}

.twitterfeed a {
  color: #093969;
}

.tumblr a {
  color: #093969;
}

.apple_pagination .pagination {
  padding-left: 100px;
   }

.apple_pagination a, .apple_pagination span {
  border-radius: 15px;
}
.apple_pagination .disabled {
  color: #aaaaaa; }

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }

.apple_pagination a {
  text-decoration: none;
  color: black; }

  .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }