/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .navbar-brand img {
  align: left;
 }

.tumblr {
  width: 700px;
  background-color: #6B99C7;
  padding: 20px;
  border-radius: 15px;
}

.twitter_feed {
  width: 700px;
  background-color: #53ADD4;
  padding: 20px;
  border-radius: 15px;
}

.feeder {
  width: 700px;
  background-color: #AB99E0;
  padding: 20px;
  border-radius: 15px;
}

a {
  color: #093969 !important;
}