.intro_back {
  background-image: url(asset_path('turkey.png'));
  background-repeat: no-repeat;
  background-position: 15% 0;
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: right;
}

.intro_back img {
  max-height: 50px;
}

.providers {
   font-family: fantasy, sans-serif;
}